body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.page-background {
    height: 93vh;
    background-image: url('https://www.countus.nl/media/3668/countus-voorwie-zorg-huisartsen.jpg?width=900&height=500&rnd=133328095858970000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
li a img {
    width: 20px; 
    height: 20px; 
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #4CAF50; /* You can change the color as needed */
    color: #fff;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.add-patient-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.add-patient-btn:hover {
    background-color: #45a049; /* Darker green color on hover */
}

.patient-card {
    border: 1px solid #4CAF50;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: inline-block;
}
.patient-photo {
    max-width: 100px;  /* Set the maximum width as needed */
    max-height: 100px; /* Set the maximum height as needed */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

/* Add these styles for the edit and delete links */
.edit-link, .delete-link {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #333; /* Blue color */
    color: white; /* White text color */
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
}

.edit-link:hover, .delete-link:hover {
    background-color: #4CAF50; /* Darker blue color on hover */
}

#patient-info-container {
    border: 1px solid #4CAF50;
    padding: 10px;
    margin-top: 20px;
    max-width: 1500px; /* Adjust the max-width as needed */
    background-color: #f9f9f9;
    border-radius: 5px;
}

#patient-info-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#patient-info-container strong {
    color: #333;
}

#close-btn {
    cursor: pointer;
    color: #333; /* Adjust the color as needed */
    float: right;
    font-size: 30px;
    font-weight: bold;
}