/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F7ECD8; /* Beige color from the logo */
    color: #3C3C3B; /* Dark color for text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Add some padding for smaller screens */
}

.login-box {
    background-color: #FFFFFF; /* White background for the form */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px; /* Ensure the box doesn't get too wide */
    margin: 0 auto; /* Center the box horizontally */
}

.login-box h2 {
    color: #3C3C3B; /* Dark color for headings */
    margin-bottom: 20px;
}

.user-box {
    margin-bottom: 20px;
}

.user-box input,
.user-box select {
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid #3C3C3B;
    outline: none;
    color: #3C3C3B;
    font-size: 16px;
}

.user-box label {
    color: #3C3C3B;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

button.submit-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3C6E71; /* Dark blue color for buttons */
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.submit-button:hover {
    background-color: #284B63; /* Darker blue on hover */
}

/* Media queries for responsive design */
@media (max-width: 600px) {
    .login-box {
        padding: 20px; /* Reduce padding on smaller screens */
    }

    .user-box input,
    .user-box select {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    button.submit-button {
        padding: 8px 16px; /* Adjust padding for smaller screens */
    }
}
